<div class="Details-Company">
    <div>
        <h1 class="NameCompany"></h1>
        <h4 class="TypeCompany"></h4>
        <h4 class="Address"></h4>
        <h4 class="Phone"></h4>
    </div>
    <img class="Logo" src="Img/Logo.png" alt="">
</div>